.layout-toolbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--surface-card);
    transition: padding-left $transitionDuration;

    border-bottom: 1px solid var(--surface-border);

    padding-left: 10px;

    &.open {
        padding-left: 310px;
    }
}

.toolbar-menu-icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;

    transition: transform $transitionDuration;

    &:hover {
        background-color: var(--surface-hover);
        cursor: pointer;
        border-radius: $borderRadius;
    }

    &.open {
        transform: rotate(-0.5turn);
    }
}
