@import "./_variables";
@import "./sass/_layout";
@import "./_overrides";

.column-size-50 {
    flex: 0 0 50px !important;
}

.column-size-100 {
    flex: 0 0 100px !important;
}

.column-size-150 {
    flex: 0 0 150px !important;
}

.column-size-200 {
    flex: 0 0 200px !important;
}

.column-size-250 {
    flex: 0 0 250px !important;
}

.column-size-300 {
    flex: 0 0 300px !important;
}

.column-size-350 {
    flex: 0 0 350px !important;
}

.column-size-400 {
    flex: 0 0 400px !important;
}




